﻿<h1><?=text::toUpper(text::get(TAB_ESTIMATE));?></h1>
<table cellpadding="5" cellspacing="1" border="0" width="100%">

	<?
	if (isset($sums) && is_array($sums))
	{
		
		?>
			<tr>				
				
                <td class="table_cell" width="40%"><?=text::get('TAB_ADMINISTRATIVE_TITLE').', '.text::get('EUR');?>:</td>
				<td class="table_cell_2" width="60%">
					( <?=$sums[0]['WORK'];?> + 
					<?=$sums[0]['MATERIAL'];?> + 
					<?=$sums[0]['TRANSPORT'];?> ) * 
					0.11 = 
					<?=$sums[0]['TOTAL'];?>
				 </td>				
			</tr>
		<?	
	}
	?>
</table>


