<body class="print">
<div class="print_header"><?= text::get('REPORT_MMS_GROUPS'); ?></div>
<table cellpadding="0" cellspacing="0" class="print_table_portrait" >
<?
  foreach($searchCr as $i=>$s)
  {
    if($i%3 == 0)
    {
      ?>
        <tr>
      <?
    }
    ?>
      <td align="right" class="print_table_total" width="13%"><?=$s['label'];?>:</td>
      <td align="left" class="print_table_data" width="20%"><?=$s['value'];?></td>
    <?
  }
?>
</table>
<br />
<table cellpadding="0" cellspacing="0" class="print_table_portrait" >
<?
   if (is_array($res) && count($res) > 0)
	{

?>
 <tr>
        <td width="20%" class="print_table_header2"><?=text::get('ACT_NUMBER');?></td>
        <td width="20%" class="print_table_header2"><?= text::get('MAN_HOUR_STANDART_TOTAL'); ?></td>
        <td width="20%" class="print_table_header2"><?= text::get('MATERIAL_PRICE'); ?></td>
        <td width="40%" class="print_table_header2"><?= text::get('SINGLE_MMS'); ?></td>

            </tr>
<?
    	foreach ($res as $r)
		{

?>

                   <tr>
                      <td align="left"><?= $r['NUMURS']; ?></td>
                      <td align="center"><?= $r['CILVEKSTUNDAS']; ?></td>
                      <td align="center"><?= $r['CENA_KOPA']; ?></td>
                      <td align="center"><?= $r['KMSD_KODS'];?></td>
                  </tr>

                     <?


                }
            ?>

        <tr>
             <td align="right" class="print_table_header"><b><?=text::get('TOTAL');?>:</b></td>
             <td align="center" class="print_table_header"><b><?= $stundas; ?></b></td>
             <td align="center" class="print_table_header"><b><?= $summa; ?></b></td>
             <td align="center" class="print_table_header">&nbsp;</td>

        </tr>
<?
	}
?>

</table>

</body>