<body class="frame_2">

<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td><h1><?= text::toUpper(text::get('REPORT_MMS_GROUPS')); ?></h1></td>
		<td align="right">
            <img src="img/ico_print.gif" alt="" width="16" height="16" border="0">&nbsp;
            <a href="<?= $printUrl; ?>" target="new"><?=text::get('PRINT');?></a>&nbsp;&nbsp;
            <!-- img src="img/ico_excel.gif" alt="" width="16" height="16">&nbsp;
            <a href="<?= $exportUrl; ?>" ><?=text::get('EXPORT');?></a -->&nbsp;
        </td>
	</tr>
</table>

<table cellpadding="5" cellspacing="1" border="0" width="100%" >

            <tr class="table_head_2">
                <td width="20%"><?=text::get('ACT_NUMBER');?></td>
                <td width="20%"><?= text::get('MAN_HOUR_STANDART_TOTAL'); ?></td>
                <td width="20%"><?= text::get('MATERIAL_PRICE'); ?></td>
                <td width="40%"><?= text::get('SINGLE_MMS'); ?></td>
            </tr>
             <?
                if (is_array($res) && count($res) > 0)
            	{

                    foreach ($res as $r)
                    {
                    ?>
                   <tr class="table_cell_3" >
      			      <td align="left"><?= $r['ACT_NR']; ?></td>
                      <td align="center"><?= $r['CILVEKSTUNDAS']; ?></td>
                      <td align="center"><?= $r['CENA_KOPA']; ?></td>
                      <td align="center"><?= $r['KMSD_KODS'];?></td>
                  </tr>
                     <?

                   }
                }
            ?>
            <tr class="table_head_2">
             <td align="left"><b><?=text::get('TOTAL');?>:</b></td>
             <td align="center"><b><?=$stundas;?></b></td>
             <td align="center"><b><?=$summa;?></b></td>
             <td>&nbsp;</td>
            </tr>


</table>

</body>