<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><?=text::get('APPLICATION_NAME');?></title>

   <link rel="stylesheet" href="/css/styles.css" type="text/css" />
   <script type="text/javascript" src="/js/functions.js"></script>
</head>

<body>
<br />